<% # マップ　パーシャル%>

<% # マップ検索 %>
<div id='map-container'>
  <div class="search-container">
    <%= text_field_tag 'address', nil, id: 'address', class: 'search-field2' %>
  </div>
  <% if @micropost && @micropost.lat.present? && @micropost.lng.present? && @micropost.place_id.present? %>
    <div id='map' widget name="storeggmap" data-show-infowindow="true" data-lat="<%= @micropost.lat %>" data-lng="<%= @micropost.lng %>" data-place-id="<%= @micropost.place_id %>"></div> 
  <% else %>
    <div id='map' widget name="storeggmap"></div>
  <% end %>
</div>

