<% # マップ画面 %>
    <div class="map-container">
        <div class="map-search-container">
        <%= text_field_tag 'address', nil, id: 'address' %>
        </div>
        <% if @micropost && @micropost.place_id.present? %>
            <div id='map' data-show-infowindow="true" data-place-id="<%= @micropost.place_id %>"></div> 
        <% else %>
            <div id='map'></div>
        <% end %>
    </div>

    <script>
      document.addEventListener("turbo:load", function() {
        const mapElement = document.getElementById('map');
        if (mapElement) {
          const tokyo = { lat: 35.682839, lng: 139.759455 };
          const map = new google.maps.Map(mapElement, {
            center: tokyo,
            zoom: 12,
            mapTypeControl: false,
            streetViewControl: false,
            fullscreenControl: false
          });
        }
      });
    </script>
