<% # マップ画面 %>
    <div class="map-container">
        <div class="map-search-container">
        <%= text_field_tag 'address', nil, id: 'address' %>
        </div>
        <% if @micropost && @micropost.lat.present? && @micropost.lng.present? && @micropost.place_id.present? %>
            <div id='map' data-show-infowindow="true" data-lat="<%= @micropost.lat %>" data-lng="<%= @micropost.lng %>" data-place-id="<%= @micropost.place_id %>"></div> 
        <% else %>
            <div id='map'></div>
        <% end %>
    </div>


