<% #　アカウント検索画面 %>
  <%= form_tag(users_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], class: 'user-search-field', placeholder: 'ユーザーネームを入力' %>
  <% end %>

  <ul class="users">
    <%= render @users %>
  </ul>
  <div class="pagination-container"> 
  <%= will_paginate @users, previous_label: '前へ', next_label: '次へ', inner_window: 0, outer_window: 0 %>
  </div>
