<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      エラー
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg.gsub(/^[^ ]+ /, '') %></li>
    <% end %>
    </ul>
  </div>
<% end %>
