@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通レイアウト */
body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  height: 100%;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

.login-logo {
  text-transform: uppercase;
  font-size: 2.3em;
  font-weight: 700;
  color: black;
}

.container {
  display: block;
  margin: 60px auto;
  position: relative;
  width: 80%;
  height: 100%;
}

.grey-btn{
  display: block;
  margin: 0 auto;
  border: 2px solid grey;
  width: 250px;
  line-height: 40px; 
  margin-bottom: 20px;
  background-color: grey;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  &:hover {
    color: rgba(255, 255, 255, 0.529);
  }
}

.white-btn {
  display: block;
  margin: 0 auto;
  border: 2px solid grey;
  width: 250px;
  line-height: 40px;
  margin-bottom: 20px;
  background-color: white;
  font-size: 1.2em;
  font-weight: 700;
  color: grey;
  border-radius: 5px;
}

.pagination-container {
  text-align: center;
}

.pagination-container .pagination {
  text-align: center;
  margin: 5px 0;
  a,span {
    font-size: 12px;
    color: grey; 
    border: white; 
    margin: 0 0px;
    background-color: white;
  }
  .active a {
    background-color: grey; 
    color: white;
    border-color: grey;
  }
}

/* サイドバー */
.sidebar {
  position: fixed;
  right: 10px;
  width: 200px;
  height: 100%;
}

.sidebar ul {
  padding: 0;
  display: block;
  margin-left: 20px;
  margin-top: 30px;
}

.sidebar li {
  margin: 0 auto;
  margin-bottom: 50px;
}

.sidebar-text {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

@media (max-width: 1000px) {
  .sidebar {
    width: 70px;
  }

  .sidebar-text {
    display: none;
  }
}

/* ログイン */
.login-container {
  border: 4px solid grey;
  background-color: white;
  width: 400px;
  padding: 30px;
  margin: 200px auto;
  text-align: center;
  position: relative;
  bottom: 160px;
}

.login-form {
  display: block;
  margin: 20px auto;
  width: 250px;
  height: auto;
  line-height: 40px; 
  border-radius: 5px;
  border: 1px solid grey;
}

.checkbox-inline{
  color: grey;
}

.forgot-password-link {
  color: gray;
}

.gray-hr {
  border: 1px solid rgb(192, 191, 191); 
  width: 250px;
  margin: 20px auto; 
  margin-top: 10px;
}

#session_remember_me {
  position: relative;
  width: 20px;
}

@media (max-width: 600px) {
  .login-container {
    width: 100%;
    input{
      width: 90%;
    }
  }

  .white-btn {
    width: 90%;
  }

  .gray-hr {
    width: 90%;
  }
}

/* ホーム */

.home-post-container {
  display: flex; 
  justify-content: center;
  gap: 10px;
}

.home-post-active{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.732);
  margin-top: 20px;
  padding: 10px; 
  line-height: 40px;
  background-color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  width: 250px; 
  height: 50px;
  &:hover {
    color: white;
  }
}

.home-post-inactive{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid grey;
  margin-top: 20px;
  padding: 10px; 
  line-height: 40px;
  background-color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: 700;
  color: grey;
  border-radius: 5px;
  width: 250px; 
  height: 50px;
  &:hover {
    color: white;
  }
}

/* 投稿詳細 */
.microposts{
  padding: 0;
}

.content {
  display: block;
  margin: 20px auto;
  width: 500px;
  height: auto;
}

.post-image {
  position: relative;
  width: 500px;
  img {
    width: 500px;
    height: 100%;
    object-fit: cover;
  }
}

.post-user{
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 17px;
  font-weight: 700;
  z-index: 1;
  color: rgb(255, 255, 255);
  a{
    color: rgb(255, 255, 255);
  }
}

.post-delete{
  position: absolute;
  left: 10px;
  top: 40px;
  font-size: 15px;
  font-weight: 700;
  z-index: 1;
  color: rgba(255, 255, 255, 0.503);
  a{
    color: rgb(253, 36, 36)
  }
}

.post-like {
  position: absolute;
  left: 450px;
  top: 5px;
  z-index: 1;
}

.post-place-name-content {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 13px;
  font-weight: 700;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.place-name {
  font-size: 25px;
}

.post-content {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.879);
}

@media (max-width: 600px) {
  .place-name {
    font-size: 4.5vw;
  }

  .post-content {
    font-size: 2.5vw;
  }
}

.toggle-arrow {
  font-size: 15px;
}

.like-container button {
  background-color: transparent;
  border: none;
}

.active-like {
  color: red; 
  font-size: 30px;
}

.passive-like {
  color: transparent; 
  -webkit-text-stroke: 2px white; 
  font-size: 30px;
}

@media (max-width: 600px) {
  .content {
    width: 100%;
  }

  .post-image{
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .post-like {
    left: 83%; 
  }
}

/* 投稿 */
.post-map-search-field{
  display: block;
  margin: 10px auto;
  width: 500px;
  height: 40px;
}

#location-details {
  display: block;
  margin: 10px auto;
  width: 500px;
  padding: 10px;
  font-weight: 700;
  background-color: white;
  border: 1px solid grey;
}

.custom-file-upload {
  display: block; 
  margin: 0 auto; 
  text-align: center;
  padding: 10px;
  width: 500px; 
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  background-color: black;
  border: 2px solid white;
  border-radius: 4px;
  &:hover {
    color: grey;
    border: 2px solid grey;
  }
}

.image{
  display: block; 
  margin: 0 auto; 
  text-align: center;
  margin-top: 10px;
}

#preview-image{
  width: 500px;
  height: auto;
  margin-top: 10px;
  object-fit: cover; 
}

.aspect-ratio-select {
  text-align: center;
  margin: 20px auto;
  width: 70%;
}

.aspect-ratio-label {
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  margin: 10px;
}

.aspect-ratio-select-box {
  width: 200px;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  text-align: center;
}

.post-text textarea {
  display: block;
  margin: 10px auto;
  width: 500px;
  height: 200px;
}

.required-item {
  display: block;
  margin: 10px auto;
  width: 500px;
  font-size: 0.9em;
  color: rgb(253, 36, 36); 
}

@media (max-width: 750px) {
  .required-item {
    width: 70%;
  }

  .post-map-search-field{
    width: 70%;
  }

  #location-details {
    width: 70%;
  }

  .custom-file-upload {
    width: 70%; 
  }
  #preview-image{
    width: 70%;
    object-fit: cover; 
  }
  .post-text textarea {
    width: 70%;
  }
}

.post-btn{
  display: block;
  margin: 0 auto;
  width: 200px;
  line-height: 40px; 
  margin-bottom: 20px;
  background-color: grey;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  border: 2px solid grey;
  &:hover {
    background-color: rgba(128, 128, 128, 0.484);
  }
}


/* マップ */
.map-container {
  display: block; 
  margin: 0 auto; 
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: calc(100vh - 20px);
  top: 10px;
  bottom: 10px;
}

#map {
  width: 100%;
  height: 100%;
}

.map-search-container {
  position: absolute;
  z-index: 1; 
  top: 20px;
  width: 100%; 
}

.map-search-container input{
  display: block; 
  margin: 0 auto;
  width: 80%; 
  height: 40px;
} 

a:focus {
  outline: none;
}

.infowindow-link {
  color: grey;
}

/* 検索 */
.user-search-field {
  display: block; 
  margin: 0 auto; 
  margin-top: 20px; 
  width: 500px;
  height: 40px;
}

.users {
  margin: 0;
  padding: 0;
  li {
    display: block;
    margin: 10px auto;
    padding: 10px 10px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.939);
  }
}

@media (max-width: 600px) {
  .users {
    li{
      width: 80%;
    }
  }
  .user-search-field {
    width: 80%;
  }
}

.user-name {
  a {
    color: rgb(0, 0, 0);
  }
}

.user-delete{
  a {
    color: rgb(253, 36, 36);
  }
}

/* プロフィール */

.profile-name {
  margin-top: 20px;
  margin-left: 10%;
  font-size: 2.5em;
  font-weight: 700;
  color: white;
}

.profile-address {
  margin-left: 10%;
  font-size: 1.0em;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.531);
}

.edit-user-link{
  border: 2px solid grey;
  line-height: 40px; 
  margin-left: 10%;
  padding: 5px;
  background-color: grey;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  &:hover {
    color: rgba(0, 0, 0, 0.516);
  }
}

.show-profile-link-container {
  display: flex; 
  justify-content: center;
  gap: 10px;
}

.show-profile-link-active{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.732);
  margin: 40px 0;
  padding: 10px; 
  line-height: 40px;
  background-color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  width: 40%; 
  height: 50px;
  &:hover {
    color: white;
  }
}

.show-profile-link-inactive{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid grey;
  margin: 40px 0;
  padding: 10px; 
  line-height: 40px;
  background-color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: 700;
  color: grey;
  border-radius: 5px;
  width: 40%; 
  height: 50px;
  &:hover {
    color: grey;
  }
}

.stats {
  display: flex; 
  gap: 20px;
  margin-left: 10%;
  font-size: 1.3em;
  font-weight: 700;
  color: white;
  a{
    color: white;
  }
}

.profile-microposts-container {
  margin-left: 10%;
}

.profile-microposts-container img {
  width: 29.5%; 
  height: auto;
  margin: 10px 0;
  aspect-ratio: 1 / 1;
  object-fit: cover; 
  object-position: center; 
}

.no-posts-message{
  text-align: center;
  color: white;
  font-size: 1.0em;
  font-weight: 700;
}

.share-photo-button {
  display: block;
  margin: 20px auto;
  width: 300px; 
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  background-color: rgba(128, 128, 128, 0.472);
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
}

.share-photo-button:hover {
  color: grey;
}


@media (max-width: 600px) {
  .share-photo-button {
    width: 70%; 
  }
}

/* プロフフィール編集 */
.edit-user-title {
  margin-top: 20px;
  margin-left: 15%;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.edit-user-label{
  color: white;
  margin-left: 15%;
}

.edit-user-field{
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 70%;
  height: auto;
  line-height: 40px; 
  border-radius: 5px;
  border: 1px solid grey;
}

.edit-user-btn{
  display: block;
  margin: 0 auto;
  border: 2px solid grey;
  width: 200px;
  line-height: 40px; 
  margin-bottom: 20px;
  background-color: grey;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  &:hover {
    background-color: rgba(128, 128, 128, 0.484);
  }
}

@media (max-width: 400px) {
  .edit-user-field{
    width: 200px;
  }
}

/* フォロー・フォロワー一覧 */
.follow-title{
  text-align: center;
  margin-right: 300px;
  font-size: 2.0em;
  font-weight: 700;
  color: white;
}

.follow-account {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5em;
  font-weight: 700;
  color: white;
}

.follow-status {
  text-align: center;
  gap: 20px;
  font-size: 1.3em;
  font-weight: 700;
  color: white;
  a{
    margin-right: 20px;
    text-align: center;
    color: white;
  }
  a:last-child {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .follow-title{
    margin-right: 40%;
  }
}

.follow-btn{
  display: block;
  border: 2px solid grey;
  width: 250px;
  line-height: 40px; 
  margin-left: 10%;
  margin-bottom: 20px;
  background-color: grey;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  border-radius: 5px;
}

.unfollow-btn{
  display: block;
  border: 2px solid grey;
  width: 250px;
  line-height: 40px; 
  margin-left: 10%;
  margin-bottom: 20px;
  background-color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  border-radius: 5px;
}

/* メッセージ */
.login-error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin: 10px auto;
  text-align: center;
  width: 50%;
}

.alert-success {
  border: 2px solid green; 
  padding: 10px; 
  border-radius: 5px; 
  display: block;
  margin: 10px auto;
  width: 500px;
}

.alert-danger {
  border: 2px solid red; 
  padding: 10px; 
  border-radius: 5px; 
  width: 400px;
  margin: 10px auto;
  position: relative;
}

.alert-info {
  border: 2px solid blue;
  padding: 10px;
  border-radius: 5px; 
  width: 400px;
  margin: 0 auto;
  position: relative;
}

.alert-warning {
  border: 2px solid yellow;
  padding: 10px;
  border-radius: 5px; 
  width: 400px;
  margin: 10px auto;
  position: relative;
}

@media (max-width: 600px) {
  .alert-success {
    width: 90%;
  }

  .alert-danger {
    width: 90%;
  }

  .alert-info {
    width: 90%;
  }

  .alert-warning {
    width: 90%;
  }
}

/* マップウィンドゥ */
.gm-ui-hover-effect {
  display: none !important;
}


/* 使い方 */
.how-to-use-container{
  display: block;
  margin: 20px auto;
  width: 500px;
  img {
    width: 500px;
    border: 1px solid grey;
    display: block;
  }
}

@media (max-width: 600px) {
  .how-to-use-container {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .how-to-use-h2-text{
    font-size: 160%;
  }
}




.hamburger-menu {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
}

.hamburger-menu span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.overlay.active {
  display: block;
}

.sidebar {
  transform: translateX(100%); 
  transition: transform 0.3s ease;
  z-index: 1002;
}

.sidebar.active {
  transform: translateX(0);
}


.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(53, 52, 52);
  color: white;
  z-index: 1001;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  a{
    color: white;
  }
}